html {
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: "Times New Roman", Times, serif;
  color: #181717e0;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
}
/* --------COR/TAMANHO------  */
h1 {
  color: #106278;
}
p {
  text-align: justify;
}
/* --------Navegação------  */
.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  padding: 0.8rem 0.6rem 0.8rem 0.6rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  & .nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ul {
    padding-inline-start: 0;
  }
  li {
    list-style-type: none;
  }

  & .navbar {
    display: flex;
    align-items: center;
    text-align: center;
    gap: 1rem;
  }

  & .nav-contemfilhos .pai::after,
  .nav-contemfilhos1 .pai1::after {
    content: "▾";
  }

  & a {
    text-decoration: none;
    color: #181717e0;
  }

  & .button-nav {
    display: flex;
    padding: 0.8rem;
    border-radius: 0.6rem;
    background-color: #196a7f;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2),
      0 6px 20px 0 rgba(0, 0, 0, 0.19);
    & a {
      color: #fff;
      text-decoration: none;
    }
  }
}
/* --------SUBMENUS------  */

.pai,
.pai1 {
  position: relative;
}
.submenu,
.submenu1 {
  display: none;
}

/* --------BUTTON HAMBURGUER------  */

.hamburguer {
  display: none;
  border: none;
  background: none;
  border-top: 3px solid #106278;
  cursor: pointer;
  padding: 0;
}
.hamburguer::before,
.hamburguer::after {
  content: "";
  display: block;
  width: 30px;
  height: 3px;
  background: #106278;
  margin-top: 5px;
  position: relative;
  transition: 0.3s;
}

/* --------MAIN------  */

/* --------IMAGEM1------  */

.imagem1 {
  margin-top: 6rem;
  background-image: url(imagens/banner-1080p.jpg);
  background-size: cover;
  background-position: center;
  height: 15rem;
}

/* --------QUEM SOMOS------  */
.section {
  width: 800px;
  margin: 0 auto;
}

/* --------IMAGEM2/PROJETOS------  */

.imagem2 {
  padding: 4rem 0;
  background-image: url(imagens/imagen2-1080.jpg);
  background-size: cover;
  background-position: center;
}
.projetos {
  padding: 1rem 1.5rem;
  border-radius: 0.8rem;
  width: 700px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ffffffc7;
}

/* --------IMAGEM3/MISSAO, VISAO E VALORES------  */
.imagem3 {
  background-image: url(imagens/imagem\ 3\ -1080.jpg);
  padding: 4rem 0 2.5rem 0;
  background-position: center;
  background-size: cover;
}
.missao {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 1.5rem 1rem 1.5rem;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  background-color: #ffffffc7;

  & img {
    border-radius: 0.8rem;
  }
}

/* --------FOOTER------  */
footer {
  background-color: rgba(0, 0, 0, 0.842);
  padding: 2rem;
}
.rodape p {
  text-align: center;
  color: #fff;
}
.whats {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 0.5rem;
}

/* --------MEDIAQUERY------  */

/* --------FUNÇAO HOVER------  */
@media (min-width: 751px) {
  .submenu,
  .submenu1 {
    flex-direction: column;
    gap: 0.2rem;
    z-index: 1;
    position: absolute;
    background-color: #ffffff;
    height: auto;
    width: 95px;
    top: 60px;
    border-radius: 0.5rem;
    box-shadow: -1px 22px 22px 0px rgba(0, 0, 0, 0.384);

    & li {
      text-align: left;
      padding: 0.5rem 1rem;
    }
  }
  .nav-contemfilhos:hover .submenu {
    display: flex;
  }
  .nav-contemfilhos1:hover .submenu1 {
    display: flex;
  }
  .navbar {
    & li:hover a:first-child {
      transition: 0.5s;
      color: #106278;
    }
  }
  .nav-contemfilhos:hover,
  .nav-contemfilhos1:hover {
    & .submenu,
    .submenu1 {
      display: absolute;
    }
  }
  .submenu li:hover {
    transition: 0.5s;
    background-color: #106278;
    & a:first-child {
      color: #fff;
    }
  }
  .submenu1 li:hover {
    transition: 0.5s;
    background-color: #106278;
    & a:first-child {
      color: #fff;
    }
  }
  .button-nav:hover {
    scale: 1.05;
    transition: 0.1s;
  }
  .whats:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 0.2s;
  }
}
/* --------------  */
@media (max-width: 850px) {
  .quem-somos,
  .projetos,
  .nossa-historia,
  .missao,
  .rodape {
    width: 700px;
  }
}
@media (max-width: 750px) {
  .hamburguer {
    display: block;
    z-index: 1;
  }

  /* --------NAVBAR------  */
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(236, 236, 236, 0.993);
    clip-path: circle(100px at 90% -20%);
    transition: 0.6s ease-out;

    flex-direction: column;
    justify-content: center;
    font-size: 1.6rem;
    gap: 3rem !important;
    pointer-events: none;
  }
  .nav.active .navbar {
    clip-path: circle(1500px at 90% -20%);
    pointer-events: all;
  }
  .nav.active .hamburguer {
    position: fixed;
    top: 26px;
    right: 16px;
    border-top-color: transparent;
  }

  nav.active .hamburguer::before {
    transform: rotate(135deg);
  }

  nav.active .hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
  .nav-contemfilhos.active .submenu,
  .nav-contemfilhos1.active .submenu1 {
    display: block;
    padding: 0.8rem 0;
  }
  .pai,
  .pai1 {
    padding-bottom: 1rem;
  }

  /* --------SECTIONS------  */
  .quem-somos,
  .projetos,
  .nossa-historia,
  .missao {
    width: 300px;
  }
  .missao P {
    margin-top: 0;
  }
  .rodape {
    width: 500px;
  }

  /* --------FONTS------  */
  h1 {
    font-size: 2rem;
  }
  p {
    font-size: 1.6rem;
    text-align: justify;
  }
}
@media (min-width: 1050px) {
  .submenu,
  .submenu1 {
    top: 45px;
  }
}
